opentelemetry-instrumentation-dbapi==0.22b0
opentelemetry-instrumentation-logging==0.22b0
opentelemetry-instrumentation-sqlite3==0.22b0
opentelemetry-instrumentation-urllib==0.22b0
opentelemetry-instrumentation-wsgi==0.22b0
opentelemetry-instrumentation-asgi==0.22b0
opentelemetry-instrumentation-grpc==0.22b0
opentelemetry-instrumentation-requests==0.22b0
opentelemetry-instrumentation-urllib3==0.22b0